@{
    ViewBag.Title = "Home Page";
}
<div class="form-horizontal">
    <div class="jumbotron">
        <div class="form-group">
            <label for="inputPlace" class="col-lg-2 control-label">Place: </label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputPlace" placeholder="Enter a country/city">
            </div>
        </div>
        <div class="form-group">
            <label for="inputFromDate" class="col-lg-2 control-label">From Date: </label>
            <div class="col-lg-10">
                <input type="date" class="form-control" id="inputFromDate">
            </div>
        </div>
        <div class="form-group">
            <label for="inputToDate" class="col-lg-2 control-label">To Date: </label>
            <div class="col-lg-10">
                <input type="date" class="form-control" id="inputToDate">
            </div>
        </div>
        <div class="form-group">
            <label for="inputBudget" class="col-lg-2 control-label">Budget: </label>
            <div class="col-lg-10">
                <input type="number" class="form-control" id="inputBudget">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPerson" class="col-lg-2 control-label">No. of People: </label>
            <div class="col-lg-10">
                <input type="number" class="form-control" id="inputPerson">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                @using (Html.BeginForm("CreateNewItinerary", "Home"))
                {
                    <button type="submit" class="btn btn-primary">Create</button>
                }
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>
        </div>
    </div>
</div>
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@